@import "utilities";

body {
  background-color: lightgray;
}

.App {
  width: 98%;
  height: 98%;
  @include center-element();
  background-color: rgba(255, 255, 255, 0.9);
  font-family: $font-family;
  font-size: $main-font-size;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}
/* grid for the quiz & clock */
.main-container {
  display: grid;
  grid-template-columns: 1fr 17vw;
}

/* grid for questions & submit form */
.quiz-container {
  padding: 10px 30px;
  display: inline-block;
}

/* grid for the questions, points, score etc. */
.questions-container {
  display: grid;
  grid-template-columns: $left-col-width 1fr;
  grid-column-gap: $grid-gap;
}

/* grid for submit form */
.grid-form {
  display: grid;
  grid-template-columns: 200px 200px 50px;
  grid-column-gap: 10px;
}

.single-word {
  display: inline-block;
  width: 100px;
  height: 25px;
  margin-right: 10px;
  border-left: 2px solid $main-color;
  // background-color: rgba(0, 0, 255, 0.85);
  padding-left: 10px;
  // text-align: center;
  color: $main-color;
  // transform: translate(0, -5px);
  // transform: skew(-5deg, 0);
}

input[type="submit"] {
  transform: translate(0, -5px);
}

.title {
  font-weight: bold;
}

.answer {
  overflow-wrap: break-word;
}

.button {
  display: inline-block;
  width: 120px;
  height: $input-height;
  background-color: white;
  @extend .border;
  color: $main-font-color;
  font-size: $main-font-size;
  font-family: $font-family;
  text-transform: uppercase;
  transition: 0.5s;
}

.button:hover {
  cursor: pointer;
  background-color: $main-color;
  color: white;
}

.error-message {
  color: $alert-color;
  text-align: center;
  margin-top: 0;
  font-size: $main-font-size;
}

.input-alert {
  background-color: rgba(255, 0, 0, 0.25);
}

/* TIMER */

#timer-container {
  @extend .border;
  display: inline-block;
  width: 15vw;
  height: 15vw;
  min-height: 150px;
  min-width: 150px;
  text-align: center;
  position: relative;
  margin: 2vw 2vw 2vw 0;
}

#timer {
  display: block;
  @include center-element();
}

.time {
  font-size: 3vw;
  margin-top: 10px;
}

/* POPUPS & OVERLAY */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: purple;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}

.game-over {
  display: block;
  width: $popup-width;
  height: $popup-height;
  z-index: 10;
  @include center-element();
  color: white;
  text-align: center;
  background-color: grey;
  border: 3px solid white;
  text-transform: uppercase;
  opacity: 1;
  font-size: 25px;
  padding: 0 10px;
}

@media (max-width: 980px) {
  /* grid for the questions, points, score etc. */
  .questions-container {
    display: grid;
    grid-template-columns: $left-col-width-sm 55vw;
    grid-column-gap: 10px;
  }

  /* grid for submit form */
  .grid-form {
    display: grid;
    grid-template-columns: $left-col-width-sm 42vw 8vw;
  }

  #timer-container {
    display: block;
    width: 15vw;
    height: 8vw;
    position: absolute;
    top: 2vw;
    left: 67vw;
  }

  .time {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .questions-container {
    display: grid;
    grid-template-columns: $left-col-width-xsm 200px;
    grid-column-gap: $grid-gap;
  }

  #timer-container {
    position: absolute;
    top: 20px;
    left: 200px;
  }

  .time {
    font-size: 30px;
  }

  .grid-form {
    display: grid;
    grid: 50px 50px / 100px 200px;
    grid-gap: $grid-gap;
  }

  input[type="submit"] {
    width: $left-col-width-xsm;
  }

  h4 {
    margin-bottom: 0.5em;
  }

  .game-over {
    @include center-element();
    width: $popup-width-sm;
    height: $popup-height-sm;
    line-height: 90%;
    font-size: 95%;
  }
}

