@import "utilities";

input[type="radio"] {
  opacity: 0;
}

.checkmark {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #ccc;;
  opacity: 0.75;
  border-radius: 50%;
  transition: 0.25s;
}

.checkmark:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

// when checked
label input:checked ~ .checkmark {
  background-color: $main-color;
  opacity: 1;
}

// create a dot in the middle
.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

// Show the dot when checked
label input:checked ~ .checkmark:after {
  display: block;
}

// styling the dot
label .checkmark:after {
  top: 7px;
  left: 7px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
}
