$main-color: blue;
$background-color: white;
$opacity-color: purple;
$alert-color: red;
$main-font-color: black;
$overlay-color: purple;
$grey-shade: rgb(204, 204, 204);
$main-font-size: 20px;
$font-family:'Space Mono', Arial, sans-serif;
$popup-width: 350px;
$popup-height: 250px;
$popup-width-sm: 200px;
$popup-height-sm: 250px;
$checkmark-size: 21px;

@mixin center-element() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-grid() {
  align-self: center;
  text-align: center;
}

@mixin border() {
  border: 2px solid $main-color;
}