$main-color: blue;
$opacity-color: purple;
$alert-color: red;
$main-font-color: black;
$main-font-size: 20px;
$font-family: monospace, Arial;
$left-col-width: 175px;
$left-col-width-sm: 25vw;
$left-col-width-xsm: 100px;
$grid-gap: 20px;
$input-height: 50px;
$popup-width: 350px;
$popup-height: 250px;
$popup-width-sm: 200px;
$popup-height-sm: 250px;

@mixin center-element() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border {
  border: 2px solid $main-color;
}