#blue-circle {
  background-color: blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -25px;
  left: -100px;
  margin: 0;
  z-index: -1;
  animation-duration: 30s;
  animation-name: blue-circle-moving;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

/* animation for the blue circle-like shape */
@keyframes blue-circle-moving {
  0% {
    top: -100px;
    left: -100px;
    width: 100px;
  height: 100px;
  }

  20% {
    top: -25px;
    left: -50px;
    width: 200px;
    height: 200px;
  }

  40% {
    top: -50px;
    left: 0px;
    width: 250px;
    height: 250px;
  }

  60% {
    top: -50px;
    left: 50px;
    width: 200px;
    height: 200px;
  }

  80% {
    top: -75px;
    left: 100px;
    width: 150px;
    height: 150px;
  }

  100% {
    top: -150px;
    left: 125px;
    width: 150px;
    height: 150px;
  }
}

/* animation for current points */
.current-points {
  opacity: 0;
  animation: pulsing-points 2.5s infinite;
}

@keyframes pulsing-points {
  50% {
    opacity: 1;
  }
}

#yellow-circle {
  z-index: -1;
  opacity: 0;
  background-color: orangered;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  top: 250px;
  left:95%;
  animation: floating-yellow 25s infinite;
}

/* animation for yellow circle-like shape */
@keyframes floating-yellow {
  25% {    
    opacity: 0.75;
    transform: scale(1.1);
    top: 275px;
    left: 97%
  }

  50% {  
    opacity: 1; 
    transform: scale(1.2);
    transform: rotateY(45deg);
    top: 295px;
    left: 89%;
  }

  75% {   
    opacity: 0.75; 
    transform: scale(1.3);
    top: 315px;
    left: 93%;
  }

  100% {  
    opacity: 0; 
    transform: scale(1.1);
    top: 300px;
    left: 95%;
  }
}

@media (max-width: 1100px) {
 #blue-circle {
    display: none;
  }

}
