body {
  background-color: lightgray;
}
.App {
  display: block;
  width: 98%;
  /* min-width: 740px; */
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: monospace;
  font-size: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}
/* grid for the quiz & clock */
.main-container {
  display: grid;
  grid-template-columns: 1fr 17vw;
}

/* grid for questions & submit form */
.quiz-container {
  padding: 10px 30px;
  display: inline-block;
}

/* grid for the questions, points, score etc. */
.questions-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-column-gap: 20px;
}

/* grid for submit form */
.grid-form {
  display: grid;
  grid-template-columns: 250px 1fr 150px;
}

input[type="text"] {
  margin-left: 20px;
  font-size: 20px;
  font-family: monospace;
  opacity: 0.8;
  height: 50px;
  padding: 0;
  box-sizing: border-box;
}

input[type="submit"] {
  height: 50px;
}

.title {
  font-weight: bold;
}

.button {
  display: inline-block;
  width: 120px;
  height: 50px;
  background-color: white;
  border: 2px blue solid;
  color:black;
  font-size: 20px;
  font-family: monospace;
  text-transform: uppercase;
  transition: 0.5s;
}

.button:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}

.error-message {
  color: red;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  font-size: 20px;
}

.input-alert {
  background-color: rgba(255, 0, 0, 0.25);
}

/* TIMER */

#timer-container {
  border: 2px solid blue;
  display: inline-block;
  width: 15vw;
  height: 15vw;
  min-height: 150px;
  min-width: 150px;
  text-align: center;
  position: relative;
  margin: 2vw 2vw 2vw 0;
}

#timer {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.time {
  font-size: 3vw;
  margin-top: 10px;
}

/* POPUPS & OVERLAY */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: purple;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}

.game-over {
  display: block;
  width: 400px;
  height: 350px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -200px;
  color: white;
  text-align: center;
  background-color: grey;
  border: 3px solid white;
  text-transform: uppercase;
  opacity: 1;
  font-size: 25px;
  padding: 0 10px;
}

@media (max-width: 980px) {
  .questions-container {
    display: grid;
    grid-template-columns: 25vw 55vw;
    grid-column-gap: 10px;
  } 

  .grid-form {
    display: grid;
    grid-template-columns: 25vw 42vw 8vw;
  }

  #timer-container {
    display: block;
    width: 15vw;
    height: 8vw;
    position: absolute;
    top: 2vw;
    left: 67vw;
  }
}

@media (max-width: 500px) {
  .questions-container {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-column-gap: 10px;

  }

  #timer-container {
    position: absolute;
    top: 20px;
    left: 200px;
  }

  .time {
    font-size: 20px;
  }

  .grid-form {
    display: grid;
    grid: 50px 50px / 100px 200px;
    grid-gap: 10px;
  }

  .game-over {
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -150px 0 0 -172.5px;
    width: 325px;
    height: 300px;
    line-height: 90%
  }
}