body {
  background-color: lightgray;
   
}
.App {
  /* border: 1px solid grey; */
  min-width: 740px;
  margin: 10px;
  background-color:rgba(255,255,255, 0.9);
  font-family: monospace;
  font-size: 20px;
}

.main-container {
  display: grid;    
  /* grid for the quiz & clock */
  grid-template-columns: 1fr 20vw;
  /* position: relative; */
}

.quiz-container {
  padding: 10px 30px;
  /* grid for questions & submit form */
}

.questions-container {
  display: grid; 
  /* grid for the questions, points, score etc. */
  grid-template-columns: 250px 1fr;
  grid-column-gap: 20px;
}

.grid-form {
  display: grid; 
  grid-template-columns: 20vw 1fr 150px;
}

input[type=text] {
  font-size: 20px;
  font-family: monospace;
  opacity: 0.8;
  height: 50px;
  padding: 0;
  box-sizing: border-box;
}

input[type=submit] {
  height: 50px;
}

.title {
  font-weight: bold;
}

.button{
  display: inline-block;
  width: 120px;
  height: 50px;
  background-color: white;
  border: 2px blue solid;
  color: blue;
  font-size: 20px;
  font-family: monospace;
  text-transform: uppercase;
}

.button:hover{
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  font-size: 15px;
}

.input-alert {
  background-color: rgba(255,0,0,0.5);
}

#blue-circle {
  background-color: blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -25px;
  left: -100px;
  margin: 0;
  z-index: -1;
  animation-duration: 30s;
  animation-name: blue-circle-moving;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes blue-circle-moving {
  0% {
    top: -100px;
    left: -100px;
    width: 100px;
  height: 100px;
  }

  20% {
    top: -25px;
    left: -50px;
    width: 200px;
    height: 200px;
  }

  40% {
    top: -50px;
    left: 0px;
    width: 250px;
    height: 250px;
  }

  60% {
    top: -50px;
    left: 50px;
    width: 200px;
    height: 200px;
  }

  80% {
    top: -75px;
    left: 100px;
    width: 150px;
    height: 150px;
  }

  100% {
    top: -150px;
    left: 125px;
    width: 150px;
    height: 150px;
  }
}

.current-points {
  opacity: 0;
  animation: pulsing-points 2.5s infinite;
}

@keyframes pulsing-points {
  50% {
    opacity: 1;
  }
}

#yellow-circle {
  z-index: -1;
  opacity: 0;
  background-color: orangered;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left:95%;
  animation: floating-yellow 25s infinite;
}

@keyframes floating-yellow {
  25% {    
    opacity: 0.75;
    transform: scale(1.1);
    top: 275px;
    left: 97%
  }

  50% {  
    opacity: 1; 
    transform: scale(1.2);
    transform: rotateY(45deg);
    top: 295px;
    left: 89%;
  }

  75% {   
    opacity: 0.75; 
    transform: scale(1.3);
    top: 315px;
    left: 93%;
  }

  100% {  
    opacity: 0; 
    transform: scale(1.1);
    top: 300px;
    left: 95%;
  }
}